/* INTRODUCTION */
#introduction{
    background-color: #FBF9EA;
}
h1 {
    color: #44270D; 
}
/* BANNER */
#banner{
    color: white;
}
/* COMPONENTS */
#components{
    padding: 5%;
    background-color: white;
}
a:link {
    text-decoration: none;
    color: black; 
    
  }
.fa-5x{
    color: black;
}
.description{
    color: black;
}
.project-component{
    background-color: #849571;
    padding: 5%;
    margin: 5%;
    border-radius: 25px;
    align-items: center;
}
