
/* INTRODUCTION */
b{
    color: #44270D;
}
#intro-header{
    background: #E2B178;
    text-align: center;
    padding: 1%;
}
body{
    font-size: x-large;
}

.introduction h1, #quote h1 {
    color: #44270D; 
}
#quote{
    background: #FBF9EA;
    padding: 5%;
    font-family: 'Spectral', serif;
}
/* COMPONENTS */
#components{
    padding: 7%;
    background-color: white;
    text-align: center;
}
#components h1{
    background-color: #F8F4DE;
    padding: 1% 2%;
    border-radius: 25px;
    align-items: center;
    color: #4b5c38;
    margin: 0% 35%;
}
a:link {
    text-decoration: none;
    color: #525E45; 
    
  }
.fa-5x{
    color: #525E45;
}
.description{
    font-size: large;
    color: #525E45;
}
.project-component{
    background: #F8F4DE;
    
    padding: 5%;
    margin: 5%;
    border-radius: 25px;
    align-items: center;
}
/* 6GIX */
#gix-header {
    padding: 1%;
}
#gix{
    padding: 3% 10%;
}
