h1{
    font-size: 3rem;
}
.banner-text{
    background-color: #4b5c38;
    padding: 1% 2%;
    text-align: center;
    font-size: 3rem;
}
#overview-header{
    text-align: center;
    padding: 1%;
}
#overview{
    background-color: #606c38;
    padding:7% 13%;
    color:white;
}
#solution{
    color:#44270D;
    padding:7% 13%;
}
.green-text{
    color:#525E45;
}


#protocol-header{
    padding: 1%;
    color:#44270D;
    text-align: center;
    background: #E2B178;
}
#protocol{
    padding: 1% 5% 8%;
}
#protocol h2{
    color: #44270D;
}
/* FLOW DIAGRAM  */
#flowDiagram-header{
    padding-left: 5%;
    background:#FBF9EA;
    color:#525E45;
}
#flowDiagram{
    padding: 3% 5%;
    text-align: left;
    padding-bottom: 7%;
}
/* ANALYSIS OF GEL */
#analysis{
    background:#FBF9EA;
    padding: 5% 12%;
    padding-bottom: 7%;
}
#analysis h1{
    color: #44270D;
    padding-bottom: 3%;
    text-align: center;
}
#references{
    padding: 5%;
    background:#FBF9EA;
}
#references h1{
    color: #44270D;
}